<template>
    <transition name="fade">
        <div class='find_mutual_fiend card'>
            <div class='card-header'>
                Find Mutual Friend
            </div>
            <!-- /.card-header -->
            <div class='card-body'>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <span>What are the common values you need in a friends?</span>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-11">
                                <input type="text" id="name" class="form-control" placeholder="type here ...">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Select Gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Key Values">
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       v-model="findInstitute.program_name" placeholder="Schools">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Distance e.g:  xx miles">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Select State</option>
                                    <option value="1">USA</option>
                                    <option value="2">BD</option>
                                    <option value="3">Another...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Region select</option>
                                    <option value="1">Asia</option>
                                    <option value="2">America</option>
                                    <option value="3">others...</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Select State</option>
                                    <option value="1">NY</option>
                                    <option value="2">DHK</option>
                                    <option value="3">others...</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 search-button">
                            <button class="btn btn-primary float-right" type="submit">Search</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                findInstitute: {}
            }
        },
    }
</script>

<style lang="scss">
    .find_mutual_fiend {
        span {
            padding-left: 15px;
        }
        .search-button {
            padding-right: 95px;
        }
    }

</style>