<template>
    <transition name="fade">
        <div class='find_tutor card'>
            <div class='card-header'>
                Find Tutors and counslers
            </div>
            <!-- /.card-header -->
            <div class='card-body'>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <span>What kind or teacher are you looking for?</span>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" id="name" class="form-control" placeholder="Teacher Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Interest">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Select Country</option>
                                    <option value="1">USA</option>
                                    <option value="2">BD</option>
                                    <option value="3">Another...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Region select</option>
                                    <option value="1">Asia</option>
                                    <option value="2">America</option>
                                    <option value="3">others...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Select State</option>
                                    <option value="1">NY</option>
                                    <option value="2">DHK</option>
                                    <option value="3">others...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-11">
                                <input type="text" class="form-control" placeholder="Key primary area">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-11">
                                <input type="text" class="form-control" placeholder="Primary Values">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-12 search-button">
                            <button class="btn btn-primary float-right" type="submit">Search</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                findInstitute: {}
            }
        },

    }
</script>

<style lang="scss">
    .find_tutor {
        span {
            padding-left: 15px;
        }
        .search-button {
            padding-right: 95px;
        }
    }

</style>