<template>
    <transition name="fade">
        <div class='find_institute card'>
            <div class='card-header'>
                Find Institute
            </div>
            <!-- /.card-header -->
            <div class='card-body'>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <span>What school do you have in mind?</span>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" id="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Select Country</option>
                                    <option value="1">USA</option>
                                    <option value="2">BD</option>
                                    <option value="3">Another...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Region">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option selected>Select State</option>
                                    <option value="1">NY</option>
                                    <option value="2">DHK</option>
                                    <option value="3">others...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <span>What program are you interest in?</span>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       v-model="findInstitute.program_name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Price Range">
                            </div>
                        </div>
                    </div>

                    <span>Are you looking for Scholarship ?</span>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 search-button">
                            <button class="btn btn-primary float-right" type="submit">Search</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                findInstitute: {}
            }
        },
        methods: {
            testMethod() {
                console.log('call institute')
            }
        },
        created() {
            this.testMethod();
        }
    }
</script>

<style lang="scss">
    .find_institute {
        span {
            padding-left: 15px;
        }
        .search-button {
            padding-right: 95px;
        }
    }

</style>