<template>
    <transition name="fade">
        <div class='find_invitation card'>
            <div class='card-header'>
                <div class="col-sm-6 float-left">
                    Invitation (100)
                </div>
                <div class="col-sm-6 float-right text-right">
                    <button class="btn btn-primary btn-sm">Accept All</button>
                    <button class="btn btn-warning btn-sm">Ignore All</button>
                </div>
            </div>
            <div class='card-body'>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3 float-left text-left">
                            <img class="card-img-top" src="https://via.placeholder.com/80/" alt="School Image">

                            <p class="card-text">Govt School and College</p>
                            <p class="card-text">Dhaka, Mohammadur</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="card-link">Jhony python school</a>
                            <span>Python is the programming lang</span>
                        </div>
                        <div class="col-sm-3 float-right text-right">
                            <button class="btn btn-primary btn-sm">Accept</button>
                            <button class="btn btn-warning btn-sm">Ignore</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3 float-left text-left">
                            <img class="card-img-top" src="https://via.placeholder.com/80/" alt="School Image">

                            <p class="card-text">Govt School and College</p>
                            <p class="card-text">Dhaka, Mohammadur</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="card-link">Jhony python school</a>
                            <span>Python is the programming lang</span>
                        </div>
                        <div class="col-sm-3 float-right text-right">
                            <button class="btn btn-primary btn-sm">Accept</button>
                            <button class="btn btn-warning btn-sm">Ignore</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3 float-left text-left">
                            <img class="card-img-top" src="https://via.placeholder.com/80/" alt="School Image">

                            <p class="card-text">Govt School and College</p>
                            <p class="card-text">Dhaka, Mohammadur</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="card-link">Jhony python school</a>
                            <span>Python is the programming lang</span>
                        </div>
                        <div class="col-sm-3 float-right text-right">
                            <button class="btn btn-primary btn-sm">Accept</button>
                            <button class="btn btn-warning btn-sm">Ignore</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3 float-left text-left">
                            <img class="card-img-top" src="https://via.placeholder.com/80/" alt="School Image">

                            <p class="card-text">Govt School and College</p>
                            <p class="card-text">Dhaka, Mohammadur</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="card-link">Jhony python school</a>
                            <span>Python is the programming lang</span>
                        </div>
                        <div class="col-sm-3 float-right text-right">
                            <button class="btn btn-primary btn-sm">Accept</button>
                            <button class="btn btn-warning btn-sm">Ignore</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3 float-left text-left">
                            <img class="card-img-top" src="https://via.placeholder.com/80/" alt="School Image">

                            <p class="card-text">Govt School and College</p>
                            <p class="card-text">Dhaka, Mohammadur</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="card-link">Jhony python school</a>
                            <span>Python is the programming lang</span>
                        </div>
                        <div class="col-sm-3 float-right text-right">
                            <button class="btn btn-primary btn-sm">Accept</button>
                            <button class="btn btn-warning btn-sm">Ignore</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3 float-left text-left">
                            <img class="card-img-top" src="https://via.placeholder.com/80/" alt="School Image">

                            <p class="card-text">Govt School and College</p>
                            <p class="card-text">Dhaka, Mohammadur</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="card-link">Jhony python school</a>
                            <span>Python is the programming lang</span>
                        </div>
                        <div class="col-sm-3 float-right text-right">
                            <button class="btn btn-primary btn-sm">Accept</button>
                            <button class="btn btn-warning btn-sm">Ignore</button>
                        </div>
                    </div>

                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                findInstitute: {}
            }
        }
    }
</script>

<style lang="scss" scoped>
    .find_invitation {
        .card-img-top {
            width: 80px;
        }
        span {
            display: block;
        }
    }
</style>