<template>
  <transition name="fade">
  <div class='profile-contact-detils-block mb-4'>
        <modal
          transition="scale"
          :adaptive="true"
          :draggable="true"
          width="60%"
          name="contact_details_modal">
          <div class='card border-0'>
            <div class='card-header'>
              Update Contact details
            </div>
            <div class='card-body'>
              <div class='row'>
                <div class='col-md-5 mx-auto'>
                  <div class='form-group row'>
                    <label for='country' class='col-5 col-form-label text-md-right'>Country</label>
                    <div class='col-7'>
                      <select v-model="contact.country" class="form-control" name='country' id='country'>
                        <option disabled value="">Please select one</option>
                        <option value='Bangladesh'>Bangladesh</option>
                        <option value='India'>India</option>
                        <option value='Pakistan'>Pakistan</option>
                        <option value='Nepal'>Nepal</option>
                        <option value='Bhutan'>Bhutan</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class='col-md-5 mx-auto'>
                  <div class='form-group row'>
                    <label for='city' class='col-5 col-form-label text-md-right'>City</label>
                    <div class='col-7'>
                      <input v-model='contact.city' type='text' name='city' id='city' class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-10 mx-auto'>
                  <div class='form-group row'>
                    <label for='address' class='col-2'>Address</label>
                    <div class='col-md-10'>
                      <input v-model='contact.address' type='text' class='form-control' name='address' id='address'/>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-10'>
                  <div class="d-flex justify-content-end mt-3">
                      <button v-if="!loading" class="btn btn-primary" @click="post_contact_details">
                        Save
                      </button>
                      <button v-if="loading" class='btn btn-primary'>
                        <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </modal>

    <div class='card'>
      <div class='card-header'>
        Contact Details
      </div>
      <div class='card-body'>
        <div v-if="isEditable" class='d-flex justify-content-end'>
          <button @click="open_contact_details_modal" class="btn btn-primary"><i class='fa fa-pencil'></i></button>
        </div>
        <div v-if="hasFieldInContactDetails">
          <p v-if='contact.city'>City: {{contact.city}}</p>
          <p v-if='contact.address'>Address: {{contact.address}}</p>
          <p v-if='contact.country'>Country: {{contact.country}}</p>
        </div>
        <div v-if="!hasFieldInContactDetails">
          No Contact details has added yet
        </div>
      </div>
    </div>



        <modal
          transition="scale"
          :adaptive="true"
          :draggable="true"
          :scrollable="true"
          height='auto'
          width="60%"
          name="social_info_modal">
          <div class='card border-0'>
            <div class='card-header'>
              update social profile
            </div>
            <div class='card-body'>
              <div class='form-group row'>
                <label for='facebook' class='col-md-3 col-form-label text-md-right'>Facebook URL</label>
                <div class="col-md-9">
                  <input v-model='social.facebook_url' type='text' name='facebook' id='facebook' class="form-control" />
                </div>
              </div>

              <div class='form-group row'>
                <label for='twitter' class='col-md-3 col-form-label text-md-right'>Twitter</label>
                <div class="col-md-9">
                  <input v-model='social.twitter_url' type='text' name='twitter' id='twitter' class="form-control" />
                </div>
              </div>

              <div class='form-group row'>
                <label for='instragram' class='col-md-3 col-form-label text-md-right'>Instragram</label>
                <div class="col-md-9">
                  <input v-model='social.instragram_url' type='text' name='instragram' id='instragram' class="form-control" />
                </div>
              </div>
              <div class='form-group row'>
                <label for='google' class='col-md-3 col-form-label text-md-right'>Google</label>
                <div class="col-md-9">
                  <input v-model='social.google_url' type='text' name='google' id='google' class="form-control" />
                </div>
              </div>
              <div class='row'>
                <div class='col-md-10'>
                  <div class="d-flex justify-content-end mt-3">
                      <button v-if="!social_loading" class="btn btn-primary" @click="post_social_media_details">
                        Save
                      </button>
                      <button v-if="social_loading" class='btn btn-primary'>
                        <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </modal>
    <div class='card mt-4'>
      <div class='card-header'>
        Social media details
      </div>
      <div class='card-body'>
        <div v-if="isEditable" class='d-flex justify-content-end'>
          <button @click="open_social_info_modal" class="btn btn-primary"><i class='fa fa-pencil'></i></button>
        </div>
        <div v-if="hasFieldInSocialUrl">
          <p v-if='social.facebook_url'>Facebook: {{social.facebook_url}}</p>
          <p v-if='social.twitter_url'>Facebook: {{social.twitter_url}}</p>
          <p v-if='social.instragram_url'>Facebook: {{social.instragram_url}}</p>
          <p v-if='social.google_url'>Facebook: {{social.google_url}}</p>
        </div>
        <div v-if="!hasFieldInSocialUrl">
          No Social link found
        </div>
      </div>
      </div>
  </div>
</transition>
</template>

<script>
export default {
  data() {
    return {
      contact: {
        country: '',
        city: '',
        address: ''
      },
      social: {
        facebook_url: 'hello',
        twitter_url: '',
        instragram_url: '',
        google_url: '',
      },
      loading: false,
      success: false,
      error: false,

      social_loading: false,
      social_success: false,
      social_error: false,
    }
  },
  methods: {
    update_contact() {
      console.log('contact', this.contact);
    },
    open_contact_details_modal(){
      this.$modal.show('contact_details_modal')
    },
    close_contact_details_modal(){
      this.$modal.hide('contact_details_modal')
    },
    open_social_info_modal(){
      this.$modal.show('social_info_modal')
    },
    close_social_info_modal(){
      this.$modal.hide('social_info_modal')
    },

    get_contact_details() {
      axios.get(`${app_domain}/json/get_contact_details/${this.$store.getters.profile_id}`).then(response => {
        console.log('response', response.data)
        this.contact = response.data;
      })
    },
    get_social_media_details() {
      axios.get(`${app_domain}/json/get_social_media_details/${this.$store.getters.profile_id}`).then(response => {
        console.log('response', response.data)
        this.social = response.data;
      })
    },
    post_contact_details() {
      this.loading = true;
      axios.post(`${app_domain}/json/post_contact_details`, this.contact).then(response => {
        console.log('response', response);
        this.loading = false;
        if (response.data.error) {
          this.error = true;
        }else {
          this.success = true;
          this.close_contact_details_modal();
        }
      })
    },
    post_social_media_details() {
      this.social_loading = true;
      axios.post(`${app_domain}/json/post_social_media_details`, this.social).then(response => {
        console.log('response', response);
        this.social_loading = false;
        if (response.data.error) {
          this.social_error = true;
        }else {
          this.social_success = true;
          this.close_social_info_modal();
        }
      })
    },



  },
  computed: {
    isEditable() {
      return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
    },
    hasFieldInContactDetails() {
      return this.contact.city || this.contact.address || this.contact.country;
    },
    hasFieldInSocialUrl() {
      return this.social.facebook_url || this.social.twitter_url || this.social.instragram_url || this.social.google_url ;
    }
  },
  mounted() {
    this.get_contact_details();
    this.get_social_media_details();
  },
}
</script>
