<template>
<transition name="fade">
  <div class='container profile_component'>
    <app-init></app-init>
    <div class='row'>

      <div class='col-md-3'>
        <profile-sidebar></profile-sidebar>
      </div>

      <div class='col-md-9'>
        <profile-personal v-if="isSelect('personal')" ></profile-personal>
        <profile-contact  v-if="isSelect('contact')" ></profile-contact>
        <profile-education  v-if="isSelect('education')" ></profile-education>
        <profile-ielts  v-if="isSelect('ielts')" ></profile-ielts>
        <profile-interest  v-if="isSelect('interest')" ></profile-interest>
        <profile-video  v-if="isSelect('video')" ></profile-video>
        <find-institute  v-if="isSelect('find_institute')" ></find-institute>
        <find-invitation  v-if="isSelect('find_invitation')" ></find-invitation>
        <find-tutor  v-if="isSelect('find_tutor')" ></find-tutor>
        <find-mutual-friend  v-if="isSelect('find_mutual_friend')" ></find-mutual-friend>
      </div>

    </div>
  </div>
</transition>
</template>

<script>
/**
# constant value for sidebar name
personal
contact
education
ielts
interest
video

 **/
export default {
    created() {
    this.$store.commit('set_profile_id', this.user_id);
  },
  mounted() {
    ProfileEvent.$on('sidebarchanged', (data) => {
      this.selectedGroup = data.selectedGroup;
      this.selectedSidebar = data.selectedSidebar;
    });


  },
  data: function () {
    return {
      selectedGroup: 'profile',
      selectedSidebar: 'personal',
    }
  },
  props: ['user_id'],
  methods: {
    isSelect(selectedSidebar) {
      return this.selectedSidebar == selectedSidebar;
    }
  }

}
</script>

<style lang="scss">
.profile_component {
  .card {
    .card-header {
      height: 50px;
      align-items: center;
      display: flex;
      padding-left: 20px;
      font-weight: bold;
      margin-bottom: 0;
      background-color: #f3f3f3;
      border-bottom: 1px solid #c8c8c8;
    }
  }
}
</style>
